<div class="post-share text-center">
    <p class="light small">
        Share this post
    </p>
    <ul class="social-mini">
        <li>
            <a href="https://twitter.com/share?url={{ page.url | prepend: site.url }}&text={{page.title}}&hashtags={{ site.twitter.hashtag }}&
        via={{ site.twitter.id }}" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
    </ul>
</div>
